<section data-ng-controller="EnrollController">
  <!--Title Bar-->
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <img class="img-responsive" src="http://i736.photobucket.com/albums/xx1/Cory_Turco/header.php_zpsnnwvbddh.png" />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1 align="center" class="head">Enrollment</h1>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="dropdown logout">
        <button class="btn btn-default dropdown-toggle" id="logout" aria-expanded="true" aria-haspopup="true" type="button" data-toggle="dropdown">
          {{username}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="logout">
          <li>
            <a href="">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Breadcrumbs
			Need to figure out how to get the individual study name and subject name-->
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/study/info">Current Study</a>
    </li>
    <li class="active">Enroll</li>
  </ul>
    <div id="enroll-form">
      <form>
        <!--Subject Contact-->
        <div align="center">
          <h1>
            <u>Subject</u>
          </h1>
          <!--Name-->
          <div class="row" style="white-space:nowrap">
            <!--Title-->
            <select name="Title" ng-model="title">
              <option value="">Title</option>
              <option value=""></option>
              <option value="Dr">Dr</option>
              <option value="Ms">Ms</option>
              <option value="Miss">Miss</option>
              <option value="Mrs">Mrs</option>
              <option value="Mr">Mr</option>
            </select>
            <!--First Name-->
            <input name="First_Name" required="" type="text" placeholder="First Name" autocomplete="off" ng-model="firstname" />
            <!--Middle Initial-->
            <input name="Middle_Initial" required="" type="text" placeholder="MI" autocomplete="off" ng-model="middleinitial" />
            <!--Last Name-->
            <input name="Last_Name" required="" type="text" placeholder="Last name" autocomplete="off" ng-model="lastname" />
            <!--Suffix-->
            <select name="Suffix" ng-model="suffix">
              <option value="">Suffix</option>
              <option value=""></option>
              <option value="Jr">Jr</option>
              <option value="Sr">Sr</option>
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
            </select>
          </div><br>
          <!--Address-->
          <div class="row" style="white-space:nowrap">
            <!--Street Address-->
            <input name="Street_Address" required="" type="text" placeholder="Street Address" autocomplete="off" ng-model="streetaddress1" />
            <!--City-->
            <input name="City" required="" type="text" placeholder="City" autocomplete="off" ng-model="city1" />
            <!--State-->
            <select name="State" required="" ng-model="state1">
              <option value="">St</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="DC">DC</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
            <!--Zipcode-->
            <input name="Zipcode" required="" type="number" placeholder="Zipcode" autocomplete="off" ng-model="zipcode1" />
          </div><br>
          <div class="row" style="white-space:nowrap">
            <!--Street Address-->
            <input name="Street_Address2" type="text" placeholder="Street Address" autocomplete="off" ng-model="streetaddress2" />
            <!--City-->
            <input name="City2" type="text" placeholder="City" autocomplete="off" ng-model="city2" />
            <!--State-->
            <select name="State2" ng-model="state2">
              <option value="">St</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="DC">DC</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
            <!--Zipcode-->
            <input name="Zipcode2" type="number" placeholder="Zipcode" autocomplete="off" ng-model="zipcode2" />
          </div><br>
          <!--Personal Contact-->
          <div class="row" style="white-space:nowrap">
            <t style="font-weight:bold">Primary Phone:</t>
            <input name="Primary_Phone" required="" type="text" placeholder="##########" autocomplete="off" ng-model="phone1" />
            <input name="Primary_Email" required="" type="email" placeholder="Primary Email" autocomplete="off" ng-model="email1" />
          </div><br>
          <div class="row" style="white-space:nowrap">
            <t style="font-weight:bold">Second Phone:</t>
            <input name="Secondary_Phone" type="text" placeholder="##########" autocomplete="off" ng-model="phone2" />
            <input name="Secondary_Email" type="email" placeholder="Secondary Email" autocomplete="off" ng-model="email2" />
          </div><br>
          <!--Emergency-->
          <h1>
            <u>Emergency Contact Information</u>
          </h1>
          <div class="row" style="white-space:nowrap">
            <!--Relationship-->
            <select name="Relationship1" required="" ng-model="relation1">
              <option value="">Relationship</option>
              <option value="Mother">Mother</option>
              <option value="Father">Father</option>
              <option value="Sibling">Sibling</option>
              <option value="Spouse">Spouse</option>
              <option value="Other">Other</option>
            </select>
            <input name="R1_First_Name" required="" type="text" placeholder="First name" autocomplete="off" ng-model="r1firstname" />
            <input name="R1_Middle_Initial" required="" type="text" placeholder="MI" autocomplete="off" ng-model="r1middleinitial" />
            <input name="R1_Last_Name" required="" type="text" placeholder="Last name" autocomplete="off" ng-model="r1lastname" />
            <t style="font-weight:bold">Phone:</t>
            <input name="R1_Phone" required="" type="text" placeholder="##########" autocomplete="off" ng-model="r1phone" />
          </div><br>
          <div class="row" style="white-space:nowrap">
            <!--Relationship-->
            <select name="Relationship2" ng-model="r2relation">
              <option value="">Relationship</option>
              <option value="Mother">Mother</option>
              <option value="Father">Father</option>
              <option value="Sibling">Sibling</option>
              <option value="Spouse">Spouse</option>
              <option value="Other">Other</option>
            </select>
            <input name="R2_First_Name" type="text" placeholder="First name" autocomplete="off" ng-model="r2firstname" />
            <input name="R2_Middle_Initial" type="text" placeholder="MI" autocomplete="off" ng-model="r2middleinitial" />
            <input name="R2_Last_Name" type="text" placeholder="Last name" autocomplete="off" ng-model="r2lastname" />
            <t style="font-weight:bold">Phone:</t>
            <input name="R2_Phone" type="text" placeholder="##########" autocomplete="off" ng-model="r2phone" />
          </div><br>
        </div>
        <div align="center" class="container">
          <input class="btn btn-default" type="submit" ng-click="submit()" value="Enroll Subject" />
          <a class="btn btn-default" role="button" href="#" ng-click="cancel()">Cancel</a>
        </div>
      </form>
    </div>
</section>
