<section data-ng-controller="GroupInfoController">



    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img class="img-responsive" src="http://i736.photobucket.com/albums/xx1/Cory_Turco/header.php_zpsnnwvbddh.png" />
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h1 align="center" class="head">Enrollment</h1>
      </div>
    </div>
    <!--Breadcrumbs Need to figure out how to get the individual study name and subject name-->
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/study-info">Study Name</a>
        </li>
        <li class="active">
            Group Name
        </li>
    </ul>

    <h1 align="center">
        <u>Compliency</u>
    </h1>
    <!--Div that will hold the pie chart-->
    <div id="chart_div" style="margin: 5% 5%" align="center"></div>
    <!--list of subjects-->
    <h1 align="center">
        <u>Subjects</u>
    </h1>



    <table class="table table-striped" id="subject_table">
        <theader>
            <tr>
                <th>Subject ID</th>
                <th>Reader ID</th>
                <th>Complience</th>
            </tr>
        </theader>
        <!--Examples-->
        <tbody>
            <tr>
                <td><button class="btn" ui-sref="subject-info">John Doe</button></td>
                <td>123</td>
                <td>Place holder information</td>
            </tr>
            <tr>
                <td><button class="btn" ui-sref="subject-info">Jane Doe</button></td>
                <td>145</td>
                <td>Place holder information</td>
            </tr>
            <!---->
            <tr ng-repeat="subject in Subject_list">
                <td><button class="btn" ui-sref="subject-info">{{subject.id}}</button></td>
                <td>{{subject.reader_id}}</td>
                <td>{{subject.complience}}</td>
            </tr>
        </tbody>
    </table>
</section>