

	<section data-ng-controller="ClientHomepageController">
		<form align="right" name="form1" method="post" action="log_out.php">
		  <div class="logoutLblPos">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Signed in as xAdministrator
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" float="right" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Logout</a></li>
			  </ul>
		  </div>
		</form>

		<div align = "middle">
			<div>

				<img class = "home_page" align = "middle" src = "etect_logo_large.jpeg" >

				<h1>Company Name</h1>
			</div>


			<ul id="buttons">
			    <li><button type = "button">Study 1</button></li>
			    <li><button type = "button">Study 2</button></li>
			    <li><button type = "button">Study 3</button></li>
			    <li><button type = "button">Study 4</button></li>
			</ul>
		</div>

</section>
