<section ng-controller="sidebarCtrl" id="sidebar">
    <div>
        <nav>
            <ul id="section-tabs">
                <!--
                <li>Study</li>
                <li ng-repeat="study in studys">
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="study-info">{{study}}</button>
                </li>
            -->
                <!--
                <li>Group</li>
                <li ng-repeat="group in groups">
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="group-info">{{group}}</button>
                </li>
                -->
                <li>Current Study</li>
                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="home">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">Dashboard</span>
                            </div>
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="subject-status">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-stats"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">Record Status</span>
                            </div>
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">Search Records</span>
                            </div>
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="enrollment">
                        
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-plus"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">New Enrollment</span>
                            </div>
                        </div>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="">
                        
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">Calendar</span>
                            </div>
                        </div>
                    </button>
                </li>

                <li>
                    <button type="button" class="btn btn-transparent btn-block" data-toggle="button" ui-sref="">

                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                <span class="glyphicon glyphicon-book"></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <span style="float:left;">Records</span>
                            </div>
                        </div>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</section>