<section data-ng-controller="StudyInfoController">
    <form align="right" name="form1" method="post" action="log_out.php">
        <div class="logoutLblPos">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Signed in as xAdministrator
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ui-sref="sign-in">Logout</a></li>
            </ul>
        </div>
    </form>
    <div class="container header-bar">
        <img class="logo" src="http://i736.photobucket.com/albums/xx1/Cory_Turco/header.php_zpsnnwvbddh.png">
        <h1 class="head" align="center">Study Name</h1>
    </div>
    <div top="20%">
        <ul class="breadcrumb" style="width:100%">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                Study #
            </li>
        </ul>
    </div>
    <!--This directive is for the accordion-->
    <group-table></group-table>
    <!--button that leads to a page to enroll a new subject-->
    <div class="enroll_button">
        <button type="button" class="btn btn-primary" data-toggle="button" ui-sref="enrollment">Enroll New Subject</button>
    </div>   
</section>