<div id="todo" class="container-fluid" data-ng-controller="SubjectInfoController">

    <h1 class="text-center">Subject Name</h1>

    <div class="row" ng-repeat="subject in info">
        <div class="col-sm-6">

            <!-- Patient  ID -->
            <p>Patient ID: {{subject.patientID}}
            </p>

            <!-- Patients  Full Name -->
            <p>Full Name: {{subject.fullName}}
            </p>

            <!-- Reader ID -->
            <p>Reader ID: {{subject.readerID}}
            </p>

            <!-- Start Date -->
            <p>Start Date: {{subject.startDate}}
            </p>

            <!-- End Date -->
            <p>End Date: {{subject.endDate}}
            </p>

            <br/>
            <!-- layout for addresses: -->
            <div class="row">
                <div class="col-sm-9">
                    <!-- Display Addresses -->
                    <p> Address: {{subject.address}} </p>

                    <p> Address 2: {{subject.address2}} </p>

                </div>
            </div>

            <br/>
            <!-- layout for phone #'s: -->
            <div class="row">
                <div class="col-sm-9">
                    <!-- Display numbers -->
                    <p> Phone: {{subject.phone}} </p>

                    <p> Phone 2: {{subject.phone2}} </p>

                </div>
            </div>

            <!-- layout for emergency contacts: -->
            <div class="row">
                <div class="col-sm-9">
                    <!-- Display header -->
                    <h3> Emergency Contact Information </h3>

                </div>


                <!-- Display the contact info -->
                <div class="row col-sm-12" ng-repeat="contact in subject.emergencyContacts">

                    <div class="col-sm-4">
                        <p>Name: {{contact.name}}</p>
                    </div>
                    <div class="col-sm-4">
                        <p> Relationship: {{contact.relationship}}</p>
                    </div>
                    <div class="col-sm-4">
                        <p> Phone: {{contact.phone}}</p>
                    </div>


                </div>

            </div>
            <!-- Edit column -->
            <button class="btn btn-default" type="button" ng-click="editSubject()">Edit</button>
            </p>

            <!-- End of left column -->
        </div>

        <div class="col-sm-6">
            <p>PLACE HOLDER FOR COMPLIANCE VERIFICATION</p>
            <br/>

            <p>PLACE HOLDER FOR COMPLIANCE VERIFICATION</p>
            <br/>

            <p>PLACE HOLDER FOR COMPLIANCE VERIFICATION</p>
            <br/>

            <p>PLACE HOLDER FOR COMPLIANCE VERIFICATION</p>
            <br/>

            <p>PLACE HOLDER FOR COMPLIANCE VERIFICATION</p>
            <br/>

        </div>
    </div>
</div>