<section data-ng-controller="SubjectStatusController" id="content">
  <side-bar></side-bar>
  <!--Breadcrumbs
			Need to figure out how to get the individual study name and subject name-->
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/study-info">{{study_name}}</a>
    </li>
    <li class="active">Status</li>
  </ul>

  <table class="table table-striped">
  	<theader>
  		<tr>
  			<th>Subject ID</th>
  			<th>Reader ID</th>
  			<th>Group</th>
  			<th>Status</th>
  		</tr>
  	</theader>
  	<tbody>
  		<tr ng-repeat="subject in subjects">
  			<td><button class="btn" ui-sref="subject-info">{{subject.id}}</button></td>
  			<td>{{subject.reader_id}}</td>
  			<td>{{subject.group}}</td>
  			<td>{{subject.status}}</td>
  		</tr>
 <!--Sample Data-->
 		<tr>
 			<td><button class="btn" ui-sref="subject-info">12345</button></td>
 			<td>435235</td>
 			<td>Group 1</td>
 			<td>Incomplete</td>
 		</tr>
 		<tr>
 			<td><button class="btn" ui-sref="subject-info">12765</button></td>
 			<td>435236</td>
 			<td>Control</td>
 			<td>Complete</td>
 		</tr>
 		<tr>
 			<td><button class="btn" ui-sref="subject-info">12370</button></td>
 			<td>435230</td>
 			<td>Group 1</td>
 			<td>Unverified</td>
 		</tr>
 <!-------->
  	</tbody>
  </table>

</section>