<div id="todo" class="container-fluid" data-ng-controller="SubjectInfoController" class="content">
  <side-bar></side-bar>

    <h1 class="text-center">{{info.fullName}}</h1>

    <!-- Display Non-editing info page -->
    <div class="row" ng-show="!editBool">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <!-- Patient  ID -->
          <p>Patient ID: {{info.patientID}}</p>

          <!-- Patients  Full Name -->
          <p>Full Name: {{info.fullName}}</p>

          <!-- Reader ID -->
          <p>Reader ID: {{info.readerID}}</p>

          <!-- Start Date -->
          <p>Start Date: {{info.startDate}}</p>

          <!-- End Date -->
          <p>End Date: {{info.endDate}}</p>

          
          <!-- layout for addresses: -->

          <!-- Display Addresses -->
          <p class="smallBreak"> Address: </p>
          <p>{{info.address1}}</p>
          <p>{{info.city1}} , {{info.state1}}. {{info.zip1}}</p>
          
          <p class="smallBreak"> Address 2: </p>
          <p>{{info.address2}}</p>
          <p>{{info.city2}} , {{info.state2}}. {{info.zip2}}</p>

          
          <!-- layout for phone #'s: -->

          <!-- Display numbers -->
          <p class="smallBreak"> Phone: {{info.phone1}} </p>
          <p> Phone 2: {{info.phone2}} </p>

          <!-- layout for emergency contacts: -->

          <!-- Display header -->
          <h3> Emergency Contact Information </h3>
              
          <!-- Display the contact info -->
          <p>Name: {{info.emergencyContact1.name}}</p>
          <p> Relationship: {{info.emergencyContact1.relationship}}</p>
          <p> Phone: {{info.emergencyContact1.phone}}</p>
          
          <p class="smallBreak">Name: {{info.emergencyContact2.name}}</p>
          <p> Relationship: {{info.emergencyContact2.relationship}}</p>
          <p> Phone: {{info.emergencyContact2.phone}}</p>

          <!-- Edit column -->
          <button class="btn btn-default" type="button" ng-click="toggleEdit()">Edit</button></p>

          <!-- End of left column -->
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
          <div class="well">
                <h2 align="center">Overall Complience</h2>
                <p>An interactive pie chart goes here</p>
            </div>
            <div class="well">
                <h2 align="center">Compliences</h2>
                <p>A line graph goes here</p>
            </div>
        </div>
    </div>

      <!-- Display editing info page -->
    <div ng-show="editBool">
      <!-- Patient  ID -->
      <p>Patient ID: {{info.patientID}}</p>

      <div class="row">
        <div class="col-sm-2">
          <p>Full Name: </p>
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="fullName" class="form-control"></input>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Group: </p>
        </div>
        <div class="col-sm-3">
          <select data-ng-options="g.name for g in groups" ng-change="changeGroup(groupsDrop, {{groupsDrop}})" ng-model="groupsDrop" class="form-control"></select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Reader:</p>
        </div>
        <div class="col-sm-3">
          <select data-ng-options="r.name for r in readers" ng-change="changeReader(readersDrop, {{readersDrop}})" ng-model="readersDrop" class="form-control"></select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <p>Start Date:</p>
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="startDate" class="form-control"></input>
        </div>
      </div>

      <!-- Row for end date -->
      <div class="row">
        <div class="col-sm-2">
          <p>End Date:</p>
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="endDate" class="form-control"></input>
        </div>
      </div>
      </br>
      <!-- Row for addresses and other details -->
      <div class="row">
        <div class="col-sm-4">
          <p> Address: </p>
          <input type="text" ng-model="address1" class="form-control"></input>
          <input type="text" ng-model="address2" class="form-control"></input>
        </div>
        <div class="col-sm-3">
          <p> City: </p>
          <input type="text" ng-model="city1" class="form-control"></input>
          <input type="text" ng-model="city2" class="form-control"></input>
        </div>
        <div class="col-sm-2">
          <p> State: </p>
          <select data-ng-options="s.name for s in states" ng-change="changeState1(statesDrop1, {{statesDrop1}})" ng-model="statesDrop1" class="form-control"></select>
          <select data-ng-options="s.name for s in states" ng-change="changeState2(statesDrop2, {{statesDrop2}})" ng-model="statesDrop2" class="form-control"></select>
        </div>
        <div class="col-sm-2">
          <p> Zip Code: </p>
          <input type="text" ng-model="zip1" class="form-control"></input>
          <input type="text" ng-model="zip2" class="form-control"></input>
        </div>
      </div>
      </br>
      <!-- Row for Phone1 -->
      <div class="row">
        <div class="col-sm-2">
          <p>Phone:</p>
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="phone1" class="form-control"></input>
        </div>
      </div>

      <!-- Row for Phone2 -->
      <div class="row">
        <div class="col-sm-2">
          <p>Phone2: 
          </p>
        </div>
        <div class="col-sm-3">
          <input type="text" ng-model="phone2" class="form-control"></input>
        </div>
      </div>

      <!-- layout for emergency contacts: -->

          <!-- Display header -->
          <h3> Emergency Contact Information </h3>
          
      <!-- Display the contact info -->
        <div class="row">
            <div class="col-sm-4"> 
              <p>Name: <input type="text" ng-model="emergencyContact1Name" class="form-control"></input></p>
              <p>Name: <input type="text" ng-model="emergencyContact2Name" class="form-control"></input></p>
            </div>
            <div class="col-sm-4"> 
              <p>Relationship: <input type="text" ng-model="emergencyContact1Relationship" class="form-control"></input></p>
              <p>Relationship: <input type="text" ng-model="emergencyContact2Relationship" class="form-control"></input></p>
            </div>
            <div class="col-sm-4"> 
              <p>Phone: <input type="text" ng-model="emergencyContact1Phone" class="form-control"></input></p>
              <p>Phone: <input type="text" ng-model="emergencyContact2Phone" class="form-control"></input></p>
            </div>
        </div>

      <button class="btn btn-default" type="button" ng-click="toggleEdit()">Cancel</button>
      <button class="btn btn-default" type="button" ng-click="saveEdit()">Save</button>
    <!-- End of editing div -->
    </div>
</div>