<section data-ng-controller="subjectSetupController">
    <div top="20%">
        <ul class="breadcrumb" style="width:100%">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                Study #
            </li>
        </ul>
    </div>
    
    <table>
        <tr>
            <td>Subject ID</td>
            <td>{{subjectID}}</td>
        </tr>
        <tr>
            <td>Subject Group</td>
            <td>
                <div ng-controller="GroupCtrl">
                   <select name="Title" ng-model="currentItem" class="form-control">
                    
                    <option value="">Unassigned</option>
                    <option ng-repeat= "item in items" value="{{item}}">{{item}}</option>
                  </select>
                </div>

            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>
                <div class="input-group">
                    <!--<span class="input-group-addon" id="basic-addon1">@</span>-->
                    <input type="text" class="form-control" placeholder="XXX-XXX-XXXX" aria-describedby="basic-addon1">
                </div>
            </td>
        </tr>
        <tr>
            <td>Reader ID</td>
            <td>
                   <select ng-model="selectedReader" class="form-control">
                    <option ng-repeat= "reader in readers" value="{{reader}}">{{reader}}</option>
                  </select>
            </td>
        </tr>  
        <tr>
            <td>Start Date</td>
            <td>

                
                <div ng-controller="DatepickerDemoCtrl">
                    <p class="input-group">
                      <input type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>

            </td>
        </tr>
        <tr>
            <td>End Date</td>
            <td>
                <div ng-controller="DatepickerDemoCtrl">
                    <p class="input-group">
                      <input type="date" class="form-control" uib-datepicker-popup ng-model="end" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </td>
        </tr>
        <tr ng-repeat = "ingestion in ingestions">
            <td>Ingestion {{ingestion.num}}</td>
            <td>{{ingestion.date}}</td>
        </tr>
    </table>
</section>