/* Styles go here */
.add_spacing {
  margin-bottom:10px;
}

body{
  background-color:rgb(31,57,111);
}

h1 {
  font-weight:bold;
  color:rgb(221,85,38);
}

/*header styling*/
.header-bar{
  background-color:orange;
  width:100%;
}

.logo {
  display:inline-block;
  width:20%;
}

.head{
  display:inline-block;
  font-size:8vw;
  width:59%;
  vertical-align:bottom;
}

.logout {
  display:inline-block;
  vertical-align:bottom;
  width:20%;
}

#logout{
  background-color:rgb(31,57,111);
  border-color:rgb(31,57,111);
  color:white;
}

/*-----table formating-----*/
#subject_table th {
  background-color:black;
  color:white;
}

#subject_table tr:nth-child(even) {
  background-color:#eee;
}

#subject_table tr:nth-child(odd) {
  background-color:#fff;
}
